/* =============== Styles for various mobile sizes =============== */

.ReactFlagsSelect-module_selectBtn__19wW7 {
  font-size: 2.2vmin !important;
}

@media only screen and (max-width: 1268px) {
  :root {
    --title-size: 2.8vmin;
    --max-width: 40vw;
  }

  .ReactFlagsSelect-module_selectBtn__19wW7 {
    font-size: 2.5vmin !important ;
  }
  .calendar-container {
    transform: scale(1);
  }
  .virus-img-2 {
    width: 40vmin !important;
  }
  .country-input-container h2 {
    flex: 3;
  }

  .ReactFlagsSelect-module_flagsSelect__2pfa2 {
    flex: 2;
  }
  .contributor h2 {
    font-size: 2.8vmin !important;
  }
  .contributor span {
    font-size: 3.8vmin !important;
  }

  .about-content {
    width: 70vw !important;
  }

  .contributors {
    width: 70vw !important;
  }
  .contributor h3 {
    font-size: 2.2vmin !important;
  }
}
@media only screen and (max-width: 850px) {
  :root {
    --title-size: 3.5vmin;
    --max-width: 50vw;
  }

  .calendar-container {
    transform: scale(0.9) !important;
  }
  .virus-img-2 {
    width: 25vmin !important;
  }
  .virus-img-1 {
    width: 20vmin !important;
    bottom: 15% !important;
  }
  .contributor h2 {
    font-size: 3vmin !important;
  }
  .contributor span {
    font-size: 4vmin !important;
  }
  .about-content {
    width: 80vw !important;
  }
  .contributors {
    width: 80vw !important;
  }
  .pic {
    width: 25vmin !important;
  }
  .about-content h1 {
    font-size: 4vmin !important;
  }
  .about-content p {
    font-size: 3vmin !important;
  }
  .contributor h3 {
    color: rgba(255, 255, 255, 70%);
    font-size: 2.8vmin !important;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --title-size: 5vw;
    --max-width: 50vw;
  }
  .ReactFlagsSelect-module_selectBtn__19wW7 {
    font-size: 3.8vmin !important ;
  }
  .App {
    overflow-y: visible;
  }

  .nav-logo {
    font-size: 6vmin;
  }
  .nav-link {
    font-size: 4vmin;
  }
  .country-input-container {
    flex-direction: column;
    margin: 0 auto !important;
  }
  .country-input-container h2 {
    margin: 10px;
  }
  .calendar-container {
    transform: scale(0.8);
    padding: 0 !important;
  }
  .virus-img-2 {
    width: 40vmin;
  }
  .virus-img-1 {
    width: 20vmin;
  }

  .ReactFlagsSelect-module_flagsSelect__2pfa2 {
    width: 100%;
  }

  .anim-number-container {
    margin: 10px auto !important;
    width: 70vw !important;
  }
  .contributors {
    width: 90vw !important;
  }
}
