.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
}

.nav-logo {
  color: var(--logo-color);
}

.nav-link {
  color: var(--nav-text-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.bg-img {
  position: relative;
}

.bg-img img {
  width: 20vmin;
  position: absolute;
  right: 50%;
  top: -10vh;
  z-index: -1;
}
